:root {
  --color-grey: #757575;
  --color-black: #212121;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-very-transparent-grey: rgba(255, 255, 255, 0.1);
  --color-transparent-grey: rgba(255, 255, 255, 0.6);
  --color-light-black: #2f303a;
  --color-light-grey: #f5f4fa;
  --color-almost-white: #eeeeee;
  --color-second-almost-white: #ececec;
  --color-dark-grey: rgba(47, 48, 58, 0.4);
  --color-grey-two: #afb1b8;
  --main-text-color: var(--color-grey);
  --title-text-color: var(--color-black);
  --accent-color: var(--color-blue);
  --main-white-color: var(--color-white);
  --footer-color: var(--color-transparent-grey);
  --background-color-footer: var(--color-light-black);
  --background-button-color: var(--color-light-grey);
  --card-border-color: var(--color-almost-white);
  --section-border-color: var(--color-second-almost-white);
  --background-gradient: var(--color-dark-grey);
  --icon-color: var(--color-grey-two);
  --icon-footer-background: var(--color-very-transparent-grey);
  --main-font-family: Roboto, sans-serif;
  --second-font-family: Raleway, sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-white-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-padding {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: var(--main-white-color);
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  h1 {
    width: 600px;
    font-size: 44px;
    line-height: 1.36;
  }
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: var(--title-text-color);
}

h2 {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 50px;
  }
}

h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

h3 .form-title {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  h3 .form-title {
    line-height: 1.15;
  }
}

h4 .team-member {
  font-weight: 500;
}

h5 {
  line-height: 1.14;
  text-transform: uppercase;
}

.title-inverse {
  color: var(--background-button-color);
}

.icon {
  fill: currentColor;
}

.logo {
  display: inline-block;
  color: var(--title-text-color);
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-path {
  color: var(--accent-color);
}

.logo.logo-inverse {
  color: var(--main-white-color);
}

.nav-pages .link {
  -webkit-transition: color var(--animation-time) var(--timing-function);
  transition: color var(--animation-time) var(--timing-function);
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .nav-pages .link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-pages .link:hover, .nav-pages .link:focus, .nav-pages .link.current {
  color: var --accent-color;
}

.connection {
  color: var(--main-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.67;
  -webkit-transition: color var(--animation-time) var(--timing-function);
  transition: color var(--animation-time) var(--timing-function);
}

@media screen and (min-width: 768px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .connection {
    font-size: 14px;
    line-height: 1.14;
  }
}

.connection:hover, .connection:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .connection-tel {
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color);
  }
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navigation .logo {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .navigation .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation .logo {
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    height: 796px;
    background-color: var(--main-white-color);
    text-align: start;
    padding: 48px 40px 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  .menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 302px;
  }
}

.nav-pages .item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .nav-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-pages .item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header-connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header-connection .item:not(:last-child) {
    margin-bottom: 64px;
  }
  .header-connection .item:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 767px) {
  .header-connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .header-connection .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-connection .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  .header-connection .item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-connection .email,
.header-connection .telephone {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-connection .email,
  .header-connection .telephone {
    display: block;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .current {
    position: relative;
  }
  .current::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0%;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.menu-button {
  z-index: 999;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .btn-close-menu {
  display: block;
}

.menu-button.is-open .btn-mobile-menu {
  display: none;
}

.btn-close-menu {
  display: none;
}

.header-social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-social-network .item:not(:last-child) {
  margin-right: 20px;
}

.header-social-network .header-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-social-network {
    display: none;
  }
}

.slogan {
  height: 400px;
  background-color: var(--background-color-footer);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--background-gradient)), to(var(--background-gradient))), url("../images/main/banner.jpg");
  background-image: linear-gradient(to right, var(--background-gradient), var(--background-gradient)), url("../images/main/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .slogan {
    height: 600px;
  }
}

.slogan .container {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .slogan .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.slogan-title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button-primary {
  display: inline-block;
  border: 4px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.modal-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill var(--animation-time) var(--timing-function);
  transition: fill var(--animation-time) var(--timing-function);
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--animation-time) var(--timing-function);
  transition: opacity var(--animation-time) var(--timing-function);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--animation-time) var(--timing-function);
  transition: -webkit-transform var(--animation-time) var(--timing-function);
  transition: transform var(--animation-time) var(--timing-function);
  transition: transform var(--animation-time) var(--timing-function), -webkit-transform var(--animation-time) var(--timing-function);
  width: 450px;
  background-color: var(--main-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal-window {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.form {
  padding: 40px;
}

.form .form-button {
  margin-left: 85px;
  margin-right: 85px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .form .form-button {
    margin-left: 124px;
    margin-right: 124px;
  }
}

.form .form-title {
  margin-bottom: 12px;
}

.form .form-subtitle {
  margin-bottom: 4px;
}

.form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form .form-item:not(.form-comment) {
  margin-bottom: 10px;
}

.form .form-item.form-comment {
  margin-bottom: 20px;
}

.form .form-field {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-text-color);
  -webkit-transition: border var(--animation-time) var(--timing-function);
  transition: border var(--animation-time) var(--timing-function);
}

.form .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1200px) {
  .form .form-label {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form .form-label .form-subtitle {
  color: var(--main-text-color);
}

.form .form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  margin-right: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill var(--animation-time) var(--timing-function);
  transition: fill var(--animation-time) var(--timing-function);
}

.form-field:focus + .form .form-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.form .comment-field {
  resize: none;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--animation-time) var(--timing-function);
  transition: border var(--animation-time) var(--timing-function);
}

.form .comment-field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .comment-field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .comment-field::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .comment-field::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .form .comment-field::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .form .comment-field:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .form .comment-field::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .form .comment-field::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form .form-agreement {
  margin-bottom: 31px;
}

@media screen and (min-width: 1200px) {
  .form .form-agreement {
    margin-bottom: 30px;
  }
}

.form .agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.67;
}

@media screen and (min-width: 1200px) {
  .form .agreement {
    font-size: 14px;
    line-height: 1.71;
    height: 15px;
  }
}

.form .agreement-link {
  color: var(--accent-color);
}

.form .agree-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form .checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  -webkit-transition: border-color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function);
  transition: border-color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .form .checkbox-icon {
    margin-left: 12px;
  }
}

.agree-checkbox:focus + .form .checkbox-icon {
  border-color: var(--accent-color);
}

.agree-checkbox:checked + .form .checkbox-icon {
  background-image: url(../images/main/icon-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-form .subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 767px) {
  .subscribe-form .subscribe-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-form .send-icon {
  margin-left: 10px;
}

.subscribe-form .email-form {
  width: 450px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .subscribe-form .email-form {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form .email-form {
    width: 358px;
    margin-right: 12px;
  }
}

.form-accent:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .advantages-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.advantage-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantage-item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-catalog .advantage-item:not(:last-child) {
    margin: 15px;
  }
}

.advantage-item {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .advantage-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-item {
    width: 270px;
  }
}

.advantage-item .advantages-title {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantage-item .advantages-title {
    text-align: center;
  }
}

.advantage-icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--background-button-color);
  border-radius: 4px;
}

.advantages-text {
  line-height: 1.71;
}

.services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;
    z-index: 1;
  }
  .services .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services .our-service {
    position: relative;
  }
  .services .our-service:not(:last-child) {
    margin-right: 30px;
  }
}

.service-foto {
  display: block;
}

.service-description {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-button-color);
}

.team-card {
  background-color: var(--main-white-color);
}

@media screen and (max-width: 767px) {
  .team-card {
    margin-bottom: 30px;
  }
}

.team-member {
  margin-bottom: 10px;
}

.team-specialization {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .members-of-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .members-of-team .team-card:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .members-of-team .team-card:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card {
  width: 450px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    width: 270px;
  }
}

.team-card .social-link {
  color: var(--icon-color);
  background-color: var(--main-white-color);
}

.team-card .social-link:hover, .team-card .social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

.team-foto {
  display: block;
  width: 100%;
}

.member-content {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-specialization {
  color: var(--main-text-color);
  font-weight: 400;
}

.social-network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-network-list .social-network:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  -webkit-transition: color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function);
  transition: color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function);
  border-radius: 50%;
  padding: 12px;
}

.regular-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .regular-clients .client {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .regular-clients .client:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .regular-clients .client:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-clients .client:not(:last-child) {
    margin-right: 30px;
  }
}

.client .client-link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 90px;
  color: var(--icon-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  -webkit-transition: color var(--animation-time) var(--timing-function);
  transition: color var(--animation-time) var(--timing-function);
}

@media screen and (min-width: 768px) {
  .client .client-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client .client-link {
    width: 170px;
  }
}

.client .client-link:hover, .client .client-link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--background-color-footer);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-links {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 767px) {
  .footer-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
  }
}

.footer-links .footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-links .footer-contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-links .logo-inverse {
  margin-bottom: 20px;
}

.footer-links .social-link {
  background-color: var(--icon-footer-background);
  -webkit-transition: background-color var(--animation-time) var(--timing-function);
  transition: background-color var(--animation-time) var(--timing-function);
}

.footer-links .social-link:hover, .footer-links .social-link:focus {
  background-color: var(--accent-color);
}

.footer-links .social-link .social-icon {
  fill: var(--main-white-color);
}

.address {
  color: var(--main-white-color);
  font-style: normal;
  line-height: 1.71;
}

.address,
.footer-connection {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address,
  .footer-connection {
    margin-bottom: 9px;
  }
}

.footer-connection .connection {
  color: var(--footer-color);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .footer-contacts,
  .join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join,
  .subscribe {
    margin-top: 12px;
  }
}

.join .title-inverse,
.subscribe .title-inverse {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 767px) {
  .footer-contacts {
    margin-right: 165px;
  }
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  color: var(--title-text-color);
  background-color: var(--background-button-color);
  border: none;
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function), -webkit-box-shadow var(--animation-time) var(--timing-function);
  transition: color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function), -webkit-box-shadow var(--animation-time) var(--timing-function);
  transition: color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function), box-shadow var(--animation-time) var(--timing-function);
  transition: color var(--animation-time) var(--timing-function), background-color var(--animation-time) var(--timing-function), box-shadow var(--animation-time) var(--timing-function), -webkit-box-shadow var(--animation-time) var(--timing-function);
}

.filter-button:hover, .filter-button:focus {
  outline: none;
  color: var --main-white-color;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-card {
  width: 450px;
  position: relative;
  -webkit-transition: -webkit-box-shadow var(--animation-time) var(--timing-function);
  transition: -webkit-box-shadow var(--animation-time) var(--timing-function);
  transition: box-shadow var(--animation-time) var(--timing-function);
  transition: box-shadow var(--animation-time) var(--timing-function), -webkit-box-shadow var(--animation-time) var(--timing-function);
}

@media screen and (min-width: 768px) {
  .project-card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .project-card {
    width: 370px;
  }
}

.project-card:hover, .project-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-foto {
  position: relative;
  overflow: hidden;
}

.project-foto img {
  display: block;
  width: 100%;
  height: 294px;
}

.project-description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white-color);
  padding: 77px 24px;
}

@media screen and (min-width: 768px) {
  .project-description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project-description {
    padding: 63px 24px;
  }
}

.project-overlay {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--animation-time) var(--timing-function);
  transition: -webkit-transform var(--animation-time) var(--timing-function);
  transition: transform var(--animation-time) var(--timing-function);
  transition: transform var(--animation-time) var(--timing-function), -webkit-transform var(--animation-time) var(--timing-function);
}

.project-card:hover .project-overlay,
.project-card:focus .project-overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card-content {
  width: 100%;
  height: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
  border: 1px solid var(--card-border-color);
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 767px) {
  .card-content {
    height: 146px;
  }
}

.card-content .project-title {
  margin-bottom: 4px;
}

.portfolio {
  border-top: 1px solid var(--section-border-color);
}

.portfolio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-buttons {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-buttons .pf-button {
    margin-bottom: 15px;
  }
}

.portfolio-buttons .pf-button:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.projects .project-card {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects .project-card {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 767px) {
  .projects .project-card:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects .project-card:nth-child(3n) {
    margin-right: 0;
  }
}
/*# sourceMappingURL=main.css.map */