.advantage-item {
  width: 450px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  .advantages-title {
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}

.advantage-icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  height: 120px;
  background-color: $background-button-color;
  border-radius: 4px;
}

.advantages-text {
  line-height: 1.71;
}
