.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--background-button-color);
  border: none;
  border-radius: 4px;

  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;

  transition: color var(--animation-time) var(--timing-function),
    background-color var(--animation-time) var(--timing-function),
    box-shadow var(--animation-time) var(--timing-function);

  &:hover,
  &:focus {
    outline: none;
    color: var(--main-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &-primary {
    border: 4px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 200px;
    padding: 10px 32px;

    color: var(--main-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
  }

  &-subscribe {
    height: 50px;
    letter-spacing: 0.06em;
    padding: 13px 22px;
    .send-icon {
      margin-left: 10px;
    }
  }

  &-round {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    color: var(--icon-color);
    background-color: var(--main-white-color);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--main-white-color);
    }
  }

  &-round-inverse {
    background-color: var(--icon-footer-background);
    color: var(--main-white-color);
  }
}
