.client {
  flex-basis: calc(100% / 2 - 30px);
  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 6 - 30px);
  }
  .client-link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90px;
    color: var(--icon-color);

    border: 1px solid currentColor;
    border-radius: 4px;

    transition: color var(--animation-time) var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
