.connection {
  color: $main-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.67;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }

  transition: color $animation-time $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &-tel {
    @media screen and (max-width: $tablet - 1) {
      font-size: 34px;
      line-height: 1.18;

      color: $accent-color;
    }
  }
}
