.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;

  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation-time) var(--timing-function);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform var(--animation-time) var(--timing-function);
  max-width: 450px;
  width: 100vw;

  @media screen and (min-width: $desktop) {
    max-width: 528px;
  }

  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-btn {
  position: absolute;
  justify-content: center;
  top: 8px;
  right: 8px;
}
