.service-foto {
  display: block;
}

.service-description {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
