// .service-foto {
//   display: block;
// }

.service-title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
}
