.nav-pages {
  .link {
    transition: color var(--animation-time) var(--timing-function);

    display: block;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    @media screen and (min-width: $tablet) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.14;
    }

    &:hover,
    &:focus,
    &.current {
      color: var (--accent-color);
    }
  }
}
