h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: var(--main-white-color);
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    width: 600px;
    font-size: 44px;
    line-height: 1.36;
  }
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: var(--title-text-color);
}

// .title {
h2 {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.67;

    margin-bottom: 50px;
  }
}

// .project-title {
h3 {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }

  &.project-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
  }
}

// .team-member {
h4 {
  .team-member {
    font-weight: 500;
  }
}

// .advantages-title, service-title
h5 {
  line-height: 1.14;
  text-transform: uppercase;
}

.title-inverse {
  color: var(--main-white-color);
}
