/* Палитра */
:root {
  --color-grey: #757575;
  --color-black: #212121;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-very-transparent-grey: rgba(255, 255, 255, 0.1);
  --color-transparent-grey: rgba(255, 255, 255, 0.6);
  --color-light-black: #2f303a;
  --color-light-grey: #f5f4fa;
  --color-almost-white: #eeeeee;
  --color-second-almost-white: #ececec;
  --color-dark-grey: rgba(47, 48, 58, 0.4);
  --color-grey-two: #afb1b8;

  /* Переменные */
  --main-text-color: var(--color-grey);
  --title-text-color: var(--color-black);
  --accent-color: var(--color-blue);
  --main-white-color: var(--color-white);
  --footer-color: var(--color-transparent-grey);
  --background-color-footer: var(--color-light-black);
  --background-button-color: var(--color-light-grey);
  --card-border-color: var(--color-almost-white);
  --section-border-color: var(--color-second-almost-white);
  --background-gradient: var(--color-dark-grey);
  --icon-color: var(--color-grey-two);
  --icon-footer-background: var(--color-very-transparent-grey);

  --main-font-family: Roboto, sans-serif;
  --second-font-family: Raleway, sans-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;

  --gradient: linear-gradient(
    to right,
    var(--background-gradient),
    var(--background-gradient)
  );
}

$mobile: 480px;

$tablet: 768px;

$desktop: 1200px;
