.advantage-item {
  .advantages-title {
    margin-bottom: 10px;

    @media screen and (max-width: $tablet - 1) {
      text-align: center;
    }
  }
}

.advantage-icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  height: 120px;
  background-color: var(--background-button-color);
  border-radius: 4px;
}
