.advantages {
  &-catalog {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}

.advantage-item {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    margin: 15px;
  }
  .advantages-catalog &:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin: 15px;
    }
  }
}
