.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet) {
    justify-content: flex-start;
  }

  .logo {
    display: block;
    align-self: center;

    @media screen and (min-width: $tablet) {
      margin-right: 88px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 93px;
    }
  }
}

.menu {
  @media screen and (max-width: $tablet - 1) {
    height: 796px;
    background-color: var(--main-white-color);
    text-align: start;
    padding: 48px 40px 0;

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.site-nav {
  @media screen and (max-width: $tablet - 1) {
    margin-bottom: 302px;
  }
}

.nav-pages {
  & .item:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    & .item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}

.header-connection {
  @media screen and (max-width: $tablet - 1) {
    & .item:not(:last-child) {
      margin-bottom: 64px;
    }
    & .item:last-child {
      margin-bottom: 32px;
    }
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet - 1) {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    & .item:not(:last-child) {
      margin-bottom: 10px;
    }
    & .item:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    & .item:not(:last-child) {
      margin-right: 50px;
    }
  }

  .email,
  .telephone {
    display: none;
    @media screen and (min-width: $tablet) {
      display: block;
      margin-right: 10px;
    }
  }
}

.current {
  @media screen and (min-width: $tablet) {
    position: relative;

    &::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0%;
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}

.menu-button {
  z-index: 999;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    outline: none;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
  &.is-open .btn-close-menu {
    display: block;
  }
  &.is-open .btn-mobile-menu {
    display: none;
  }
}

.btn-close-menu {
  display: none;
}

.header-social-network {
  display: flex;
  .item:not(:last-child) {
    margin-right: 20px;
  }
  .header-social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
