.team {
  background-color: var(--background-button-color);

  &-card {
    // background-color: var(--main-white-color);

    @media screen and (max-width: $desktop - 1) {
      margin-bottom: 30px;
    }
  }

  &-member {
    margin-bottom: 10px;
  }

  &-specialization {
    margin-bottom: 16px;
  }
}

.members-of-team {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    .team-card:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    .team-card:not(:last-child) {
      margin-right: 30px;
    }
  }
}
