.portfolio {
  border-top: 1px solid var(--section-border-color);
}

.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }

  .pf-button {
    @media screen and (max-width: $tablet - 1) {
      margin-bottom: 15px;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.projects {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  .project-card {
    transition: box-shadow var(--animation-time) var(--timing-function);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    @media screen and (max-width: $desktop - 1) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      .project-content {
        height: 146px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 30px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .project-title {
    margin-bottom: 4px;
  }
}
