.portfolio {
  border-top: 1px solid $section-border-color;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .pf-button:not(:last-child) {
    margin-right: 8px;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  .project-card {
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
