.slogan {
  height: 400px;

  background-color: var(--background-color-footer);

  @media screen and (max-width: $mobile) {
    background-image: var(--gradient), url("../images/main/banner-mobile.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: var(--gradient),
        url("../images/main/banner-mobile@2x.jpg");
    }
  }
  @media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    background-image: var(--gradient), url("../images/main/banner-tablet.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: var(--gradient),
        url("../images/main/banner-tablet@2x.jpg");
    }
  }
  @media screen and (min-width: $tablet + 1) {
    background-image: var(--gradient), url("../images/main/banner-desktop.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: var(--gradient),
        url("../images/main/banner-desktop@2x.jpg");
    }
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
  letter-spacing: 0.06em;

  @media screen and (min-width: 1200px) {
    height: 600px;
  }

  & .container {
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: $desktop) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
  &-title {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    @media screen and (min-width: $desktop) {
      width: 600px;
    }
  }
}
