.slogan {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-color-footer;
  background-image: linear-gradient(
      to right,
      $background-gradient,
      $background-gradient
    ),
    url("../images/main/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
  letter-spacing: 0.06em;
  & .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &-title {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: $main-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
  }
}
